.navbar {
    overflow: hidden;
    background: rgb(23, 36, 2);
    color: white;
    /* position: fixed; */
    width: 100%;
}

.content {
    width: 90%;
    margin: auto;
}

.logo {
    font-size: 25px;
    width: 30%;
    float: left;
    display: block;
    margin: 10px 0;
    color: azure;
}

ul {
    width: 70%;
    float: left;
    padding: 0;
    margin: 10px 0;
    text-align: right;
}

ul a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}


.selectedprofilelink {
    color: red;
}

.selectedlink {
    color: yellow;
}